#giga{
    
    text-align: center;
    color: white;
    background:rgba(0,0,0,0.5) url('bg.jpg') ;
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
   
    
    }
h1{
	color: rgb(46, 70, 11);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
h2{
    color:white;
}


#icon{
    text-align: center;
    border-radius: 100px;
}

p{
    font-size: 20px;
}
#container{
    margin-top: 200px;;
    width: 1000px;
    height:800px;
    display: inline-block;
    vertical-align: middle;
}
#introduction_area{
  background-color: rgb(253, 253, 253);
color:green;
width:500px;
height:600px;
float:left;

}

#login_area{
    background-color: rgb(54, 173, 147);
    width:500px;
    height:600px;
    float:left;

    }
  #user_name, #pwd{
      width:300px;
      margin-left: 100px;
  }
  label{
      font-size: 30;
  }